<h1>Example of FlexLayout at work</h1>
<h2>Try resizing the window and see what happens</h2>
<h3>Based on https://alligator.io/angular/flex-layout/</h3>
<br />

<!-- Note that the classes are just for styling css. FlexLayout doesn't need classes like "container" or "item" -->
<!-- fxLayout makes our div a flex container. fxLayout defaults to row. -->
<!-- .xs is for extra small devices breakpoint -->
<!-- Finally a better way bto center content! fxLayoutAlign="center"-->
<div class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%">Item 1</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3">Item 2</div>
  <div class="item item-3" fxFlex>Item 3</div>
</div>
<div class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0">
  <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">Item 4</div>
  <div class="item item-5" fxFlex="200px">Item 5</div>
</div>

<br />
<br />

<h1>Html to create layout above</h1>

<div class="source-code">
  &lt;!-- Note that the classes are just for styling css. FlexLayout doesn't need classes like "container" or "item" --&gt;<br />
  &lt;!-- fxLayout makes our div a flex container. fxLayout defaults to row. --&gt;<br />
  &lt;!-- .xs is for extra small devices breakpoint --&gt;<br />
  &lt;!-- Finally a better way bto center content! fxLayoutAlign="center"--&gt;<br />
  <br/>
  &lt;div class="container" <br />
  &nbsp;&nbsp;fxLayout<br />
  &nbsp;&nbsp;fxLayout.xs="column"<br />
  &nbsp;&nbsp;fxLayoutAlign="center"<br />
  &nbsp;&nbsp;fxLayoutGap="10px"<br />
  &nbsp;&nbsp;fxLayoutGap.xs="0"&gt;<br />
  &nbsp;&nbsp;&lt;div class="item item-1" fxFlex="15%"&gt;Item 1&lt;/div&gt;<br />
  &nbsp;&nbsp;&lt;div class="item item-2" fxFlex="20%" fxFlexOrder="3"&gt;Item 2&lt;/div&gt;<br />
  &nbsp;&nbsp;&lt;div class="item item-3" fxFlex&gt;Item 3&lt;/div&gt;<br />
  &lt;/div&gt;<br />
  <br/>
  &lt;div class="container"<br />
  &nbsp;&nbsp;fxLayout<br />
  &nbsp;&nbsp;fxLayout.xs="column"<br />
  &nbsp;&nbsp;fxLayoutAlign="center"<br />
  &nbsp;&nbsp;fxLayoutGap="10px"<br />
  &nbsp;&nbsp;fxLayoutGap.xs="0"&gt;<br />
  &nbsp;&nbsp;&lt;div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0"&gt;Item 4&lt;/div&gt;<br />
  &nbsp;&nbsp;&lt;div class="item item-5" fxFlex="200px"&gt;Item 5&lt;/div&gt;<br />
  &lt;/div&gt;
</div>

